.DS_Store
/Library
/Gravit files
/Logs
/obj
/OldMainMenuBuild
/Rhythm Lines_BurstDebugInformation_DoNotShip
/RL_BurstDebugInformation_DoNotShip
/Temp
/RL.app
/.vs
/Build

# Rhythm Paths folders
/Created maps
/Screenshots
