.DS_Store
/Gravit files
/OldMainMenuBuild
/Rhythm Lines_BurstDebugInformation_DoNotShip
/RL_BurstDebugInformation_DoNotShip
/RL.app
/Build

# Visual studio
/obj
/.vs

# Unity
/Library
/Logs
/Temp
/UserSettings

# Rhythm Paths folders
/Created maps
/Screenshots
